.tweet {
  overflow: hidden;

  > header {
    display: flex;
    gap: var(--base-margin);
    align-items: baseline;
    justify-content: space-between;
    height: var(--base-size-half);

    > .date-time {
      font-size: 0.8em;
      color: var(--color-text-mute);
      white-space: nowrap;
    }
  }

  > .other-replies {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    >.icon {
      width: 22px;
      height: 22px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }

    > a + a {
      margin-left: var(--base-margin-half);
    }
  }

  > .tweet-text {
    white-space: pre-wrap;
  }
}
