@use "./func" as *;

.transition-fade {
  &-enter {
    &-active {
      opacity: 0;

      @include transition(opacity);
    }

    &-to {
      opacity: 1;
    }
  }

  &-exit {
    &-active {
      opacity: 1;

      @include transition(opacity);
    }

    &-to {
      opacity: 0;
    }
  }
}
