.navigation {
  display: grid;
  grid-template-rows: var(--base-size) auto auto var(--base-size);
  gap: var(--base-margin);
  width: calc(var(--base-size) + var(--base-margin) * 2);
  padding: var(--base-margin);
  border-right: 1px solid var(--color-separate);

  > h2 {
    display: none;
  }

  > .columns-controller {
    align-self: start;
  }

  > .sub-actions {
    align-self: end;
  }

  > .logo {
    width: var(--base-size);
    height: var(--base-size);
    background-color: var(--color-fore);
    border-radius: var(--base-radius);
  }
}
