.stream-item {
  padding: var(--base-margin);

  &:nth-child(n + 2) {
    position: relative;

    &::after {
      position: absolute;
      top: -0.5px;
      right: var(--base-margin);
      display: block;
      width: calc(100% - (var(--base-size) + var(--base-margin) * 3));
      height: 1px;
      content: "";
      background-color: var(--color-separate);
    }
  }

  > .retweet-user {
    overflow: hidden;
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .tweet-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--base-margin);

    > .profile-image-container {
      width: var(--base-size);
      height: var(--base-size);

      > img {
        width: 100%;
        height: 100%;
        border-radius: var(--base-radius);
        object-fit: cover;
      }
    }

    > .tweet {
      > header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: var(--base-margin);
        height: var(--base-size-half);

        > .user-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        > a {
          font-size: 0.8em;
          color: var(--color-text-mute);
        }
      }

      > .tweet-text {
        white-space: pre-wrap;
      }
    }
  }
}
