.stream-item {
  display: flex;
  flex-direction: column;
  gap: var(--base-margin);
  padding: var(--base-margin);

  &:nth-child(n + 2) {
    position: relative;

    &::after {
      position: absolute;
      top: -0.5px;
      right: var(--base-margin);
      display: block;
      width: calc(100% - (var(--base-size) + var(--base-margin) * 3));
      height: 1px;
      content: "";
      background-color: var(--color-separate);
    }
  }

  > .retweet-user {
    display: flex;
    gap: var(--base-margin-half);
    overflow: hidden;
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .tweet-images {
    width: calc(100% - var(--base-size) - var(--base-margin));
    margin-left: calc(var(--base-size) + var(--base-margin));
  }

  > .quoted-tweet {
    margin-left: calc(var(--base-size) + var(--base-margin));
  }

  > .tweet-actions {
    margin-left: calc(var(--base-size));
  }
}
