@use "../func" as *;

.btn {
  position: relative;
  min-width: var(--base-size);
  min-height: var(--base-size);
  overflow: hidden;
  color: var(--color-text);
  user-select: none;
  background-color: var(--color-fore);
  border-radius: var(--base-radius);
  outline: 0;

  @include transition(color, background-color);
  @include flex-center;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";

    @include transition(background-color);
  }

  &:disabled {
    cursor: not-allowed;

    &::after {
      background-color: var(--color-mask-boldest);
    }
  }

  &:is(:hover, :focus):not(:disabled)::after {
    background-color: var(--color-mask-bold);
  }

  &.primary {
    color: var(--color-text-on-accent);
    background-color: var(--color-accent);
  }

  &.mask {
    background-color: var(--color-mask);
  }
}
