.columns-controller-li {
  position: relative;

  & + &::before {
    position: absolute;
    top: calc(var(--base-margin) / 2 * -1 + 0.5px);
    left: var(--base-size-quarter);
    display: block;
    width: calc(100% - var(--base-size-half));
    height: 1px;
    content: "";
    background-color: var(--color-separate);
  }
}
