.user-name {
  display: inline-flex;
  gap: var(--base-margin-half);
  overflow: hidden;
  color: var(--color-text);

  > .name {
    display: block;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .screen-name {
    font-size: 0.85em;
    color: var(--color-text-mute);
  }
}
