.tweet-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--base-margin);

  > .profile-image-container {
    width: var(--base-size);
    height: var(--base-size);
  }
}
